<html>
<body style="background-color: black;">
<h1 style="color: red;font-size: 300%"> WELCOME TO MY <i><ins>notCrawler</ins></i> </h1>
<p style='color: blue;font-size: 200%'><br>/results for the results(original_URI_95 ;))</p>
<p style='color: cyan;font-size: 200%'>/histogram for ..........</p>
<p style='color: lightgrey;font-size: 150%'>If you type a platform name after results you will get its quantity in the database</p>
<p style='color: lightgrey;'>For example: /results/apache etc.</p>
</body>
</html>